:root {
    /* Colors */
    --primary-color: #4D5164ff;
    /* Davys Gray - Dominant neutral tone */
    --secondary-color: #222933ff;
    /* Gunmetal - Deeper hue for contrast with the primary */
    --accent-color: #C55A26ff;
    --tawny-darken: #A0451D;
    /* Tawny - Bold choice for call-to-actions and accents */
    --background-color: #EDE7D4ff;
    /* Eggshell - Neutral and light, making it great for backgrounds */
    --text-color: #4D5164ff;
    /* Davys Gray - Neutral and readable against the eggshell background */
    --secondary-text-color: #222933ff;
    /* Gunmetal - Subtle text color */
    --border-color: #C8B123ff;
    /* Old Gold */
}

/* ... rest of the CSS ... */

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--background-color);
    /* Switched to eggshell for contrast */
}

/* ... rest of the CSS ... */

#contact input,
#contact textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
}

#resume a {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

#resume a:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    #contact form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact label {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* Makes sure the label takes the full width */
    max-width: 500px;
    /* adjust this value based on your preference */
}

#contact input,
#contact textarea,
#contact button {
    width: 100%;
    /* They will take the full width of their parent (the label or form) */
}
}

.center-content {
    max-width: 800px;
    /* adjust this value based on your preference */
    margin: 0 auto;
}